.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.headbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}
.homebtn{
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: #f4ce14;
  color: #333;
  border-radius: 16px;
  padding: 0 1rem;
}

.homebtn a{
  text-decoration: none;
  color: #333;
}
.homebtn:disabled{
  background-color: #edefee;
}
.page{
  width: 100%;
  background-color: #495e57;
}
.page h1{
  font-family: 'Markazi Text';
  font-size: 2rem;
  color: #f4ce14;
  line-height: 2;
  text-align: center;
  padding: 20px;
}
.page p{
  font-family: 'Karla';
  font-size: 1rem;
  color:white;
  text-align: center;
  line-height: 2;
  padding: 0 20px 20px 20px;
}