.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.hero{
  background-color: #495e57;
  height: 400px;
}
@media (max-width: 600px){
  .hero{
    height: 675px;
  }
}
.hero img{
  width: 325px;
  height: 375px;
  margin: 40px auto;
  border-radius: 16px;
}
.dish img{
  width: 250px;
  height: 250px;
  border-radius: 16px;
}
