.container {
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.headbar{
  display:flex;
  justify-content: space-around;
  align-items: center;
  height: 120px;
}
.homebtn{
  height: 2rem;
  line-height: 2rem;
  font-weight: bold;
  background-color: #f4ce14;
  color: #333;
  border-radius: 16px;
  padding: 0 1rem;
}

.homebtn a{
  text-decoration: none;
  color: #333;
}

